body {
    background: #088;
    color: black;
    font-family:'Times New Roman', Times, serif;
}
h1,h2,h3,h4,h5 {
    font-family:'Times New Roman', Times, serif;
    background: blue;
    color: white;
}
#toolbar {
    background: #c0c0c0;
    color: black;
    font-weight: 600;
}
.card, .quizCard, .questionCard, button {
    background-color: #ccc;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid #333;
    border-right: 3px solid #333;
}