body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(183deg, rgba(255,255,255,1) 0%, rgba(142,180,241,1) 52%, rgba(133,173,51,1) 55%, rgba(99,136,39,1) 100%);

}
h1,h2,h3,h4,h5 {
    color: black;
}
.card, .quizCard, .questionCard, button {
    background-color: white;
    box-shadow: 3px 3px 4px 2px black;
}
button {
    border-radius: 4px;
    background: white;
    border: solid 1px black;
}
#toolbar {
    background: #2662dd;
    color: white;
}